<div class="container">
    <div class="container bg-white w-75 mt-5 mb-5 rounded shadow">
        <div class="row align-item-strech">
            <div class="col bg-white p-5 rounded-end">
                <div class="p-3">
                    <h2 class="text-center fs-1 fw-bold py-4">Reestablecer contraseña</h2>
                    <form [formGroup]="formRecoverPassword" (ngSubmit)="recoverPassword()">
                        <label for="contraseña" class="form-label">
                            Contraseña
                            <span class="text-danger fw-bold" [hidden]="formRecoverPassword.get('password')?.valid || formRecoverPassword.get('password')?.untouched">
                                * Tu contraseña no tiene los carácteres mínimos ( {{ formRecoverPassword.get('password')?.value?.length }} /8 )
                            </span>
                        </label>
                        <div class="mb-4 input-group">
                            <div  class="input-group-text">
                                <i class="bi bi-incognito"></i>
                            </div>
                            <input type="password" class="form-control" name="password" placeholder="Contraseña" formControlName="password">
                        </div>
                        <label for="confirmar_contraseña" class="form-label">
                            Confirmar Contraseña
                            <span class="text-danger fw-bold" [hidden]=" formRecoverPassword.get('confirm_password')?.value === formRecoverPassword.get('password')?.value ">
                                * Las contraseñas no coinciden.
                            </span>
                        </label>
                        <div class="mb-4 input-group">
                            <div  class="input-group-text">
                                <i class="bi bi-incognito"></i>
                            </div>
                            <input type="password" class="form-control" name="confirmar_contraseña" placeholder="Confirmar Contraseña" formControlName="confirm_password">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn text-light color-bg fw-semibold shadow-sm" [disabled]="formRecoverPassword.invalid">Recuperar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>